body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
    letter-spacing: 1em;
    font-family: 'Orbitron', sans-serif;
}

h1 img {
    width: 200px;
    height: 200px;
}

.movie {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.movie h2 {
    text-align: center;
    margin-top: 0;
}

.movie p {
    margin: 10px 0;
}